body {
    color: red;
    background-image: url(https://hdblackwallpaper.com/wallpaper/2015/08/red-and-black-lamborghini-wallpaper-15-desktop-background.jpg);
    text-align: center;
    text-decoration: black;
}
