body {
    color: red;
    background-color:#242626;
    text-align: center;
    
}
button {
    color: red;
    background-color: black;
    align-self: auto;
}

h1 {
    color:red;
}
 
  h2 {
      color: red;
}
  img {
      motion: auto;
      box-shadow: cornsilk;
      
}
