body {
    color: red;
    background-image: url(https://hdblackwallpaper.com/wallpaper/2015/08/red-and-black-lamborghini-wallpaper-15-desktop-background.jpg);
    text-align: center;
}

h1 {
    color:red;
}
 
  h2 {
      color: red;
}
  img {
      motion: auto;
      box-shadow: cornsilk;
      
}
